@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

*{ 
    font-family: 'Red Hat Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    height: 100vh;
}

main {
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.illustration-hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.attribution {
    position: fixed;
    bottom: 0;
    font-size: 0.7rem;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}